* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #5d3a6f;
    
}

#title {
    text-align: center;
    padding: 0.8rem 0;
    font-size: 3rem;
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
}

.questions {
    margin: 3rem auto;
    width: 50%;
    padding: 2rem;
    cursor: default;
    background: white;
    cursor: default;
    border-radius: 1rem;
}

#question{
    margin-bottom: 1rem;
}

.option {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-radius: 20px;
    width: 15rem;
    background: #cbc1d2;

}

.option:hover{
    color: #aa98b5;
}


ol{
    position: relative;
    padding: 0 1.5rem;
    color: black;

}

span {
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}

#answer {
    margin-top: 2.5rem;
}

#stat{
    margin-top: 1.5rem;
    color: yellow;
}

.buttons{
    text-align: center;
}

button {
    padding: 0.2rem 1.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;

}

button:active {
    background-color: #aa98b5;
}

#scoreboard,#answerBank {
    width: 20rem;
    background: white;
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
    border-radius: 20px;
}

#score-title {
    margin: 1rem 0;

}
#score-btn,#check-answer {
    font-size: 1rem;

}
#score {
    font-size: 2.5rem;
}

#answerBank li {
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
}
#answers{
    margin-top: 1rem;
}